
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
  <body>
    <h1>Welcome to <%= title.name %></h1>
    <ul>
      <li><a href="http://localhost:3000/">Home </a></li>
      <li><a href="http://localhost:3000/users">Users</a></li>
      <li><a href="http://localhost:3000/rate">Rate</a></li>
    </ul>

    <div class="recipes">
      <h3><%= posts.title %></h3>
      <ul>
        <% posts.forEach(function(post) { %>
          <li>
            <strong><%= post.title %></strong>
            <button onclick="image()">Download Recipe</button>
          </li>
        <% }); %>
      </ul>
    </div>
   
  </body>
  <script>
    function image() {
      window.location = './public/image'
    }
    </script>
</html>